.header {
    background-color:#eb8d00;
    text-align: center;
    padding: 10px;
    color:white;
  }

.nav {
  margin-top: 0px;
  padding: 0px;
  background-color: #3b3b3b;
  text-align: center;
  overflow: hidden;
  font-family: sans-serif;

}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 10px;
  overflow: hidden;
}


li {
  float: left;
}

li a{
  display: inline;
  color: white;
  text-align: center;
  padding:20px 20px;
  text-decoration: none;
  overflow:hidden;
}
  
li a:hover {
  background-color: #1c7186;
}


h1 {
    font-family: 'sans-serif', Verdana, Tahoma;
    font-size: 54px;
    font-weight: normal;

   
}

h2 {
    font-family: 'sans-serif', Verdana, Tahoma;
    font-size: 28px;
    font-weight: normal;
}

h3 {
  font-family: 'sans-serif', Verdana, Tahoma;
  font-size: 18px;
  font-weight: bold;
}

h4 {
  font-family: 'sans-serif', Verdana, Tahoma;
  font-size: 12px;
  font-weight: bold;
}

h5 {
  font-family: 'sans-serif', Verdana, Tahoma;
  font-size: 11px;
  font-weight: bold;
}

p {
  font-family: 'sans-serif', Verdana, Tahoma;
  font-size: 14px;
}


/* --------------------------------------------------------------------------- */


      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 100%;
      }

      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
/* --------------------------------------------------------------------------- */

.footer {
    background-color:#0cc1ee;
    text-align: center;
    padding: 1px;
    color:white;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
  }

  .footerlink:link {
    color:#ffffff;
    text-decoration: none;
  }
  
  .footerlink:hover {
    color:#e08002;
    text-decoration: underline;
  }
  
  .footerlink:visited {
    color:#293541;
    text-decoration: none;
  }
  